/* .header{
  text-align: center;
  margin-top: 3.125rem;
}

.personal-info {
  padding: 10px;
  margin: auto;
}

#form {
  background-color: rgb(84, 82, 82);
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  color: white;
  width: 500px; 
  border-radius: 5px;
}

#input {
  display: block;
  margin-top: 8px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 94%;
}

#input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.sign-in-btn {
  border-radius: 2px;
  margin-left: 200px;
  cursor: pointer;
  border: 0;
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
} */


.header{
  text-align: center;
  margin-top: 3.125rem;
}

form {
  background-color: rgb(84, 82, 82);
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  color: white;
  width: 500px; 
  border-radius: 5px;
}

#input-name {
  display: block;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 94%;
}

#input-email {
  display: block;
  margin-top: 8px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 94%;
}

.sign-in-btn {
  border-radius: 2px;
  margin-left: 200px;
  cursor: pointer;
  border: 0;
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
}
